workflow_data/
CIFAR10/data/
CIFAR10/
Warm_up/
todo.txt
Segmentation_Task/SegTask/
Segmentation_Task/SegmentationTask_data.zip
Segmentation_Task/checkpoints/
Segmentation_Task/wandb/
Notebooks/CUB
Notebooks/wandb